<div class="p-20">
    <h2 class="color-white">پروفایل کاربر</h2>
    <p class="color-white">صفحه اصلی  > پروفایل کاربر</p>

    <div class="page-content-card mat-elevation-z5">
        <h3 class="color-p400">اطلاعات پروفایل</h3>
        <div fxLayout="row">
            <div>
                <img class="avatar mb-4" [src]="baseUrl + user.avatar">
            </div>
            <div fxFlex>
                <table>
                    <tr>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>شماره تماس</th>
                    </tr>
                    <tr>
                        <td class="color-p600">{{user.username}}</td>
                        <td class="color-p600">{{user.first_name}}</td>
                        <td class="color-p600">{{user.last_name}}</td>
                        <td class="color-p600">{{user.mobile}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <div style="margin-top: 10px;"> 
            <button mat-raised-button class="custom-btn-01" routerLink="/profile/update">
                <mat-icon>border_color</mat-icon>
                ویرایش اطلاعات
            </button>
        </div>
       
    </div>
</div>
