<div class="p-20">
    <h2 class="color-white">ویرایش پروفایل</h2>
    <p class="color-white">صفحه اصلی > پروفایل کاربر > ویرایش پروفایل</p>

    <div class="page-content-card mat-elevation-z5">
        <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfileForm.valid && onUpdateProfile()">
        <h3 class="color-p400">تصویر پروفایل</h3>
        <div fxLayout="row">
          <img class="mb-4 avatar" [src]="baseUrl + user.avatar">
          <div style="margin-top:10px">
            <!-- <button mat-button class="custom-basic-btn-01" for="avatar" >
              <mat-icon>border_color</mat-icon>
              تصویر جدید
            </button> -->
            <button type="button" mat-button class="custom-basic-btn-01" (click)="fileInput.click()">
              <mat-icon>border_color</mat-icon>
              تصویر جدید
              <input #fileInput type="file" (change)="onChangeAvatar($event)" style="display:none;" />
            </button>
          </div>
          
        </div>
        <div fxLayout="row">
            
            
                <mat-form-field fxFlex appearance="outline" class="p-10">
                    <mat-label>نام</mat-label>
                    <input matInput placeholder="نام خود را وارد کنید." formControlName="firstName" >
                  </mat-form-field>
           
           
                <mat-form-field fxFlex appearance="outline" class="p-10">
                    <mat-label>نام خانوادگی</mat-label>
                    <input matInput placeholder="نام خانوادگی را وارد کنید." formControlName="lastName">
                  </mat-form-field>
          
           
                <mat-form-field fxFlex appearance="outline" class="p-10">
                    <mat-label>کد ملی</mat-label>
                    <input matInput placeholder="کد ملی را وارد کنید.">
                  </mat-form-field>

        </div>
        <div fxLayout="row">
            
            <mat-form-field fxFlex appearance="outline" class="p-10">
                <mat-label>تاریخ تولد</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>روز/ماه/سال</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field fxFlex appearance="outline" class="p-10">
                <mat-label>جنسیت</mat-label>
                <mat-select>
                  <mat-option value="unknown" selected>نامشخص</mat-option>
                  <mat-option value="male">مرد</mat-option>
                  <mat-option value="female">زن</mat-option>
                </mat-select>
              </mat-form-field>

            
              <div fxFlex></div>

       
      
    </div>
    <hr />
        <div fxLayout="row" class="operation-btn-row"> 
            <button mat-raised-button class="custom-btn-01" type="submit">
              <mat-icon>save</mat-icon>
              ذخیره
            </button>
            <button mat-raised-button class="custom-btn-01" routerLink="/profile" >
              <mat-icon>cancel</mat-icon>
              انصراف
            </button>
        </div>
    </form>
    </div>
</div>
